<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNWZTpqirCf_Dqw19m84f7pywDFCHAXwg</string>
	<key>GCM_SENDER_ID</key>
	<string>825542667540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firefit.app</string>
	<key>PROJECT_ID</key>
	<string>firefighter-wellness-app</string>
	<key>STORAGE_BUCKET</key>
	<string>firefighter-wellness-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825542667540:ios:a90ca3c48cc72c48c5e601</string>
</dict>
</plist>